<!-- <div class="hero-picture">
  <h1>Find granny or make an offer</h1>
</div> -->

<!--     <div class="button" style="margin-bottom:20px;"><%= link_to 'create grandmother offer', new_grandmother_offer_path, class: "gbutton"%>
    </div> -->

<div class="container d-flex justify-content-between py-3">

  <div class="container">
      <div class="gcards">
        <% @grandmother_offers.each do |offer| %>

          <%= link_to grandmother_offer_path(offer), class: 'card-product-link' do %>
            <div class="card-img-top my-3 " >
              <% if offer.photos.attached? %>

                <%= cl_image_tag offer.photos.first.key, height: 200, width: 300, crop: :fill %>
              <% end %>
              <div class="card-body">
                 <h5 class="card-title"> <%= offer.activity_type.capitalize() %> with granny <%= offer.first_name %> </h5>
                 <p class="card-text"> <%= offer.city %> | <%= offer.return_offer_wish %>  </p>

              </div>
            </div>
          <% end %>
        <% end %>

      </div>
  </div>

  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

