
<!-- <div=== class="hero-picture">
  <h1>Find granny or make an offer</h1>
</div> -->

<!--     <div class="button" style="margin-bottom:20px;"><%= link_to 'create grandmother offer', new_grandmother_offer_path, class: "gbutton"%>
    </div> -->

<div class="container-fluid d-flex justify-content-between py-3">

  <div class="container">
    <div class="row">
        <% @grandmother_offers.each do |offer| %>
        <div class="col-6">
          <%= link_to grandmother_offer_path(offer), class: 'card-product-link' do %>
          <div class="gcards w-100">
            <div class="card-img-top my-3 " >
              <% if offer.photos.attached? %>

                <%= cl_image_tag offer.photos.first.key, height: 200 %>
              <% end %>
            </div>
              <div class="card-body">
                 <h5 class="card-title"> <%= offer.activity_type.capitalize() %> with granny <%= offer.first_name %> </h5>
                 <p class="card-text"> <%= offer.city %> | <%= offer.return_offer_wish %>  </p>

              </div>
            </div>
          <% end %>

        </div>


        <% end %>


    </div>

  </div>

  <div id="map"
    style="width: 100%;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
