<h1>Create a new offer</h1>
<%= simple_form_for(@grandmother_offer) do |f| %>
  <%= f.input :username %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :activity_type %>
  <%= f.input :activity_price %>
  <%= f.input :description %>
  <%= f.submit 'Submit', class:'btn btn-primary'%>

<% end %>
