
<div class="container">
  <div class="row justify-content-center py-3">
    <div>

      <div class='d-flex shadow p-3 mb-5 bg-white rounded mr-3 py-3' >

         <%= image_tag(@grandmother_offer.photo, height: '400') %>

        <div class='py-3 ml-5'>
          <h1> <%= @grandmother_offer.activity_type %> with <%= @grandmother_offer.first_name %> <%= @grandmother_offer.last_name %></h1>


          <p> <%= @grandmother_offer.description %> </p>
          <h5>Activity price: <%= @grandmother_offer.activity_price %>  </h5>

        </div>


      </div>


        <%= link_to 'SEE ALL GRANNYS', grandmother_offers_path, class: 'gbutton' %>
    </div>
    <%= render "bookings/new_booking_form" %>
  </div>
</div>

