<div class="container">
  <h1>MY BOOKINGS</h1>
  <% @bookings.each do |b| %>
  <br>
  <div class="card">
    <div class="card-date-position">
      <h6>Date of your booking</h6>
      <p><%= b.booking_date.strftime("%m/%d/%Y") %></p>
    </div>
    <div>
     <h6>Description</h6>
     <p><%= b.grandmother_offer.description %></p>
   </div>

   <div class="card-position-status">
    <h6>Status</h6>
    <% if b.accepted == true %>
    <p>Accepted</p>
    <% elsif b.accepted == false %>
    <p>Declined</p>
    <% else %>
    <p>Pending</p>
    <% end %>
    <% if current_user == b.grandmother_offer.user  %>
    <p><%= link_to "Accept", accept_booking_path(b), method: :patch %></p>
     <p><%= link_to "Decline", reject_booking_path(b), method: :patch %></p>
     <% end %>
  </div>
</div>
<% end %>

<br>
<div class="link-position">
  <%= link_to "DONT BE SHY, BOOK ANOTHER GRANNY", grandmother_offers_path, class: "gbutton"  %>
</div>
</div>

