


<div class="container">

  <section class="tabs">

    <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
    <label for="tab-1" class="tab-label-1">MY BOOKINGS</label>

    <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
    <label for="tab-2" class="tab-label-2">REQUESTED BOOKINGS</label>

    <!--<div class="clear-shadow"></div>-->
    <div class="content d-flex">
        <div class="content-1 p-3 py-5">
      <% if @my_bookings.empty? %>
          <p>You do not have any bookings yet.</p>
      <% end %>
      <% @my_bookings.each do |b| %>
          <h2 class="tab-title">CURRENT BOOKING</h2>
          <h6 class="mt-4">Spend some time with:</h6>
          <p><%= b.grandmother_offer.first_name %></p>
          <h6 class="mt-4">Date of your booking</h6>
          <p><%= b.booking_date.strftime("%m/%d/%Y") %></p>
          <h6 class="mt-4">Description</h6>
          <p><%= b.grandmother_offer.description %></p>
          <h6 class="mt-4">Status</h6>
          <% if b.accepted == true %>
          <p>Accepted</p>
          <% elsif b.accepted == false %>
          <p>Declined</p>
          <% else %>
          <p>Pending</p>
          <% end %>
          <hr>
        <% end %>
        </div>

          <div class="content-2 p-3 py-5 align-items-center">
        <% if @requests.empty? %>
            <p>No Requests.</p>
        <% end %>

        <% @requests.each do |b| %>
            <h6 class="mt-4">You have a booking for:</h6>
            <p><%= b.grandmother_offer.first_name %></p>
            <h6 class="mt-4">Date of booking request</h6>
            <p><%= b.booking_date.strftime("%m/%d/%Y") %></p>
            <h6 class="mt-4">Description</h6>
            <p><%= b.grandmother_offer.description %></p>
            <h6 class="mt-4">Status</h6>
            <% if b.accepted == true %>
              <p>Accepted</p>
            <% elsif b.accepted == false %>
              <p>Declined</p>
            <% else %>
              <p>Pending</p>
            <% end %>
            <% if current_user == b.grandmother_offer.user  %>
            <p><%= link_to "Accept", accept_booking_path(b), method: :patch, class: "accepted-button" %></p>
            <p><%= link_to "Decline", reject_booking_path(b), method: :patch, class: "declined-button" %></p>
            <% end %>

        <% end %>
          </div>
      </div>
    </div>
  </section>


  <div class="link-position">
    <% if @my_bookings.empty? %>
    <%= link_to "BOOK A GRANNY", grandmother_offers_path, class: "gbutton"  %>

    <% else %>
    <%= link_to "DONT BE SHY, BOOK ANOTHER GRANNY", grandmother_offers_path, class: "gbutton"  %>
    <% end %>
  </div>
</div>





